### Sum of even numbers

In [12]:
def printeven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        
        if(cnt%2==0):
            sum=sum+cnt;            
        cnt=cnt+1;
    return sum;
print (printeven(20));

90

### Factors list of a number

In [8]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;
factorslist(12);

1 2 3 4 6

### List in python
### Description: List can be written in python with square brackets and each item in the list seperated by comma operator(list can be anything--int,char,float & string)

In [14]:
list1=[1,2,3,4,5];
#entire list
print(list1);
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

In [16]:
list2=["Yash","Danita","Mrudula"];
for x in list2:
    print(x,end=" ");

Yash Danita Mrudula

### List examples with particular index

In [33]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for x in lst1:
    print(x,end=" ")
print();
print(lst1[4]);
print(lst1[3:7]);
print(lst1[0:3]);
print(lst1[:3]);
print(lst1[:7]);
print(lst1[1:-1]);
print(lst1[2:-2]);
print(lst1[4:-4]);
print(lst1[::2]);
print(lst1[::3]);
print(lst1[::-3]);
print(lst1[-1]);
print(lst1[-4:]);
print(lst1[-3::]);

1 2 3 4 5 6 7 8 9 10
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[5, 6]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 7, 4, 1]
10
[7, 8, 9, 10]
[8, 9, 10]

### List with range function

In [36]:
lst1=["yash","danita","mrudula",1];
print(lst1);
lst1[2]=15;#update the list item
print(lst1);
del lst1[3];# delete the list item
print(lst1);
lst1[1]="Gitam";
print(lst1);
lst2=[1,2,3];
print(lst2);
print(lst1+lst2);#concatination of both the lists

['yash', 'danita', 'mrudula', 1]
['yash', 'danita', 15, 1]
['yash', 'danita', 15]
['yash', 'Gitam', 15]
[1, 2, 3]
['yash', 'Gitam', 15, 1, 2, 3]

In [37]:
lst1=[1,2,3,4,5]
print(lst1);
del lst1[2];
print(lst1);
#lst1[4]=15;
print(len(lst1));
lst1.append(15);
lst1.append(150);
lst1.append(1);
lst1.append(3);
print(lst1);
print(lst1.count(1))
print(lst1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3]
2
1

In [38]:
numbers=[1,2,3,4]
numbers.append([5,6,7,8])
print(len(numbers))

5

## List methods

In [47]:
lst1=["Gitam","python","raptor",9,"python","python"]
print(lst1)
lst1.index("python")
lst1.index(9)
lst1.insert(2,2019)
print(lst1)
print(len(lst1))
lst1.insert(4,2020)
print(lst1)
lst1.remove("python")
print(lst1)
lst1.remove("python")
print(lst1)
lst1.reverse()
print(lst1)

['Gitam', 'python', 'raptor', 9, 'python', 'python']
['Gitam', 'python', 2019, 'raptor', 9, 'python', 'python']
7
['Gitam', 'python', 2019, 'raptor', 2020, 9, 'python', 'python']
['Gitam', 2019, 'raptor', 2020, 9, 'python', 'python']
['Gitam', 2019, 'raptor', 2020, 9, 'python']
['python', 9, 2020, 'raptor', 2019, 'Gitam']

In [55]:
def linearsearch(a,tarItem):
    flag=0;
    for i in range (len(a)):
        if a[i]==tarItem:
            flag=1;
            break
    if(flag!=0):
        print("target item is found")
    else:
        print("target item not found")
a=[23,69,13,6,3]
linearsearch(a,61)

target item not found

In [60]:
def linearSearchDuplicate(a,tarItem):
    flag=0;
    for i in range (len(a)):
        if a[i]==tarItem:
            flag=flag+1 
    print(flag)
a=[9,3,6,9,3,14,15]
linearSearchDuplicate(a,9)

2